@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
html{
    scroll-behavior:smooth;
}

@font-face{
    src:url("../font/AkayaTelivigala-Regular.ttf");
    font-family:miletra;
} 
@font-face{
    src:url("../font/Montserrat-Black.ttf");
    font-family:mih2;
} 

body{
    background-image: url(../ima/leaf-176722_1280.jpg);
    background-size: cover;
}
header{
    background-color: rgba(255, 255, 255, 0.4);
    height: 80px;  
    display: flex; 
    justify-content: space-between;
    
}

.logotitulo{
    width:40%;
    height:60px;
    display: flex;
    background-color: 0;
    align-items: center;
    justify-content: left;
    
   }
   .logo{
       width: 70px;
       height: 70px;
       background-image: url('../ima/z3.jpeg');
       background-size: cover;
       background-repeat: no-repeat;
       border-radius: 50%;
       margin-top: 10px;
      
       
   }


   .titulop{
    background-color:0;
    width:80%;
    height:50px;
    font-family: miletra;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;

text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    
    color: #fff;
    }


 

.navbar li{

background-size:cover ;
border-radius: 50%;
padding:5px;
display: inline;
text-align: center;


}
.navbar{
    background-color:0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
a {

text-decoration: none; 
columns: red;


}

.navbar a:hover{
background-color: #16df04;
color: #fff;
padding: 10px;
}

section div a:hover{
  
    color: #ffee00;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: miletra;
}



section{
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    background-color: 0px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 300px;
}
section div a{
    font-size: 20px;
    font-family: miletra;
    color: rgb(59, 232, 255);


}
   
section div{
   

    border: 0;
    width: 14%;
    height: 100px;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.5);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}

#u{
    background-image: url(../ima/z1.jpeg);
    background-size: cover;
}


#u{
    background-image: url(../ima/zr.jpeg);
    background-size: cover;
}



#c{
    background-image: url(../ima/zeca.jpeg);
    background-size: cover;
}


#p{
    background-image: url(../ima/t3.jpg);
    background-size: cover;
}


#v{
    background-image: url(../ima/bulldog-1047518_1920.jpg);
    background-size: cover;
}


#d{
    background-image: url(../ima/squirrel-5401265_1920.jpg);
    background-size: cover;
}

@media screen and (min-width: 400px) and (max-width: 600px){
   body{
   background:red;
   }
     .titulop{
    background-color:red;
    width:80%;
    height:50px;
    font-family: miletra;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;

text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    
    color: #fff;
    }
    

}
